
<div id='main_body'>
<h1>修改项目设备信息</h1>
 
<%= render 'form_new' if comp_sec? || is_project_manager?(@project) %>
<%= render 'form_eng_vp' if coo? %>
<%= render 'form_inst_eng' if inst_eng? %>
 
<%= link_to 'Back', SUBURI + "/view_handler?index=0" %>
  
</div>

