<div id="main_body">
<h1>新付款记录</h1>
<% if @purchasing %>
  <%= render 'form_new_pur' %>
  <%= link_to 'Back', purchasing_payment_logs_path(@purchasing) %>
<% elsif @sourcing %>
  <%= render 'form_new_src' %>
  <%= link_to 'Back', sourcing_payment_logs_path(@sourcing) %>
<% end %>
</div>
